#pane{
    -fx-background-image: url("LogIn.jpg");

    -fx-background-position: top left;
    -fx-background-fill: stretch;
    -fx-background-size: 1000 700;

}
#borderPane{
    -fx-background-color: #f2f3f4;

}


#logInLabel {
    -fx-font-size: 40pt;
    -fx-font-family:"lucida calligraphy";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#Label {
    -fx-font-size: 24pt;
    -fx-font-family:"lucida calligraphy";
    -fx-text-fill: #053a70;
}
.label {
    -fx-font-size: 9pt;
    //-fx-font-family:"lucida calligraphy";
    //-fx-text-fill: white;
}
#cbBox {
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
       -fx-font-size: 10pt;
}
.comboBox {
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
       -fx-font-size: 10pt;
}

.button {
    //-fx-border-color: #ccc800;
    //-fx-border-width: 2;
    //-fx-background-radius: 0;
    //-fx-background-color: black;
   // -fx-font-family: "lucida calligraphy", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    //-fx-text-fill: #c6c313;
    //-fx-background-insets: 0 0 0 0, 0, 1, 2;

}

.table-view {
    -fx-base: #5a6372;
    //-fx-control-inner-background: #1d1d1d;
    //-fx-background-color: blue;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}


.table-view .column-header .label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
